.grid-container
    width: 100%
    .grid-100
        padding-left: 0
.search-box
    margin-bottom: 20px
    height: 44px
.label-group
    height: auto
    line-height 28px
    font-size: 16px
    text-align: left
    label
        font-weight: bold
.mint-cell-wrapper
    .grid-container
        padding: 6px 0