<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "./mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false"/> <!-- 是否启用缓存 -->
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="multipleResultSetsEnabled" value="false"/>
		<setting name="useColumnLabel" value="true"/>
		<setting name="useGeneratedKeys" value="true"/>
		<setting name="autoMappingBehavior" value="FULL"/>
		<setting name="defaultExecutorType" value="SIMPLE"/>
		<setting name="defaultStatementTimeout" value="60"/>
		<setting name="safeRowBoundsEnabled" value="false"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="localCacheScope" value="SESSION"/>
		<setting name="jdbcTypeForNull" value="OTHER"/>
		<setting name="logImpl" value="LOG4J2"/>
	</settings>
	<typeAliases>
		<package name="dibo.web.model"/>
	</typeAliases>
</configuration>