.mint-cell-wrapper
  .mint-cell-title
    text-align: left
.mint-search-list
  display: none !important
.form-container .mint-cell-title
  width: 105px
  flex: none
.mint-popup.mint-popup-fullscreen
  width: 100%
  height: 100%
  background-color: #fff
.mint-button--success
  color: #ffffff
  background-color: #3fc6d1